/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap'); */

body {
  /* font-family: 'Montserrat', sans-serif; */
}



/**************************** NAVBAR ***************************/
.navbar-logo {
  width: 16.25rem;
  margin-left: 3.25rem;
}

nav {
  z-index: 2;
}

/**************************** NAVBAR-LINKS ***************************/

.nav a.nav-link {
  font-family: 'Montserrat', sans-serif;
  padding: 15px 0px;
  cursor: pointer;
}

.navbar-nav > li > a {
  font-weight: bolder;
  color: #6f6f6f;
  margin-right: 12px;
  margin-left: 12px;
  border-bottom: 4px solid transparent;
}

.navbar-brand {
  height: 4.92rem;
  padding: 0 !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-bottom: 4px solid #ffcc29;
}

.navbar-nav > li > a:hover {
  border-bottom: 4px solid #ffcc29;
}

.navbar {
  box-shadow: 0px 1px 5px;
}

/**************************** HEADER-WRAPPER ***************************/
.header-wraper {
  position: relative;
  background-color: #4e4e4e;
  background-size: cover;
  height: 70vh;
  background-position: center;
  border-radius: 15px 15px 15px 15px;
  margin: 0 10px;
}

.sub-heading {
  color: #ffcc29;
  text-transform: uppercase;
  font-family: 14px 'Montserrat', sans-serif;
  font-weight: bolder;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  z-index: 1;
}


.header-h2 {
  color: #fff;
  width: 40%;
}

/**************************** QUOTE ***************************/

.btn-main-offer {
  background-color: #ffcc29;
  border-radius: 20px;
  padding: 10px;
  color: black;
  font-family: 14px 'Montserrat', sans-serif;
  font-weight: bolder;
  box-shadow: 1px 1px 10px 4px;
  position: absolute;
  right: 200px;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: #ffcc29;
  transition: .2s ease-in-out;
  box-shadow: 1px 1px 10px 4px #4e4e4e;
}

.tsparticles-canvas-el {
  position: absolute;
  top: 900px;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}